.movieCarousel {
    padding-bottom: 20px;
}

.movieCarousel__container{
    position: relative;
}

.movieCarousel__movies {
    list-style: none;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.movieCarousel__movies::-webkit-scrollbar {
    display: none;
}

.movieCarousel__title {
    padding-bottom: 5px;
    user-select: none;
}

.movie {
    min-width: 190px;
    max-width: 190px;
    height: 250px;
    padding-right: 10px;
}

.movieCarousel__title {
    font-size: 20px;
}

.movie__image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 5px;
}

.movieCarousel__scrollButtonIconContainer{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movieCarousel__scrollButton {
    height: 100%;
    width: 40px;
    position: absolute;
    top: 0;
    display: none;
}

.movieCarousel__scrollButtonFrontLayer{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.movieCarousel__showScrollButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000099;
}

.movieCarousel__scrollButton__forward{
    right: 0;
}

.movieCarousel__scrollButtonIcon{
    fill: white;
}

.movieCarousel__scrollButtonIcon__back{
    transform: rotate(180deg);
}

@media screen and (max-width: 500px) {
    .movieCarousel {
        padding-bottom: 10px;
    }

    .movie {
        min-width: 120px;
        max-width: 120px;
        height: 160px;
        padding-right: 5px;
    }

    .movieCarousel__title {
        padding-bottom: 3px;
    }
}