.movieCarousel {
    padding-bottom: 20px;
}

.movieCarousel__container {
    position: relative;
}

.movieCarousel__movies {
    list-style: none;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.movieCarousel__movies::-webkit-scrollbar {
    display: none;
}

.movieCarousel__title {
    padding-bottom: 5px;
    user-select: none;
}

.movieCarousel__title {
    font-size: 20px;
}

@media screen and (max-width: 500px) {
    .movieCarousel {
        padding-bottom: 10px;
    }

    .movieCarousel__title {
        padding-bottom: 3px;
    }
}