@import '../../globalVariables.css';

.byGender{
    width: 100%;
    height: var(--full-view-height);
}

.byGender__title {
    font-size: 25px;
    padding-left: 15px;
}

@media screen and (max-width: 500px) {
    .byGender__title {
        padding-left: 10px;
    }
}