.header{
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.header__leftSection{
    display: flex;
}

.header__netflixIconContainer{
    height: 100%;
    width: 95px;
    display: flex;
    align-items: center;
}

.header__netflixIcon{
    width: 100%;
    user-select: none;
}

.header__menuBarIconContainerPadding{
    padding: 0 20px 0 20px;
}

.header__menuBarIconContainer{
    height: 100%;
    width: 20px;
    display: flex;
    align-items: center;
}

.header__menuBarIcon{
    fill: white;
    user-select: none;
}

.header__lensIconContainer{
    height: 100%;
    width: 20px;
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.header__lensIcon{
    fill: white;
    user-select: none;
}

@media screen and (max-width: 500px) {
    .header__lensIconContainer{
        margin-right: 20px;
    }
}