@import '../../globalVariables.css';

.moviesGridPage{
    width: 100%;
    height: var(--full-view-height);
}

.moviesGridPage__title {
    font-size: 25px;
    padding-left: 15px;
}

@media screen and (max-width: 500px) {
    .moviesGridPage__title {
        padding-left: 10px;
    }
}