.arrowButton__frontLayer {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.arrowButton {
    height: 100%;
    width: 40px;
    position: absolute;
    top: 0;
    display: none;
}

.arrowButton__show {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000099;
}

.arrowButton__iconContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowButton__icon {
    fill: white;
}

.arrowButton__forward {
    right: 0;
    transform: rotate(180deg);
}