.banner__container {
    height: calc(100vh - 120px);
    position: relative;
}

.banner__imageContainer {
    width: 100%;
    height: 100%;
    padding-left: 20%;
    position: relative;
}

.banner__image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.banner__boxShadow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    box-shadow: inset 100px 20px 300px #000000, inset 100px -20px 300px #000000;
}

.banner__textContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.banner__text {
    width: 40%;
    height: 100%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner__title {
    text-align: center;
    padding-bottom: 30px;
    font-size: 70px;
    user-select: none;
}

.banner__overview {
    font-size: 20px;
    font-weight: bold;
    user-select: none;
    max-height: 217px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.banner__overview::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 1120px) {
    .banner__container {
        height: auto;
    }

    .banner__imageContainer {
        padding-left: 5%;
    }

    .banner__text {
        padding-left: 10px;
    }

    .banner__title {
        padding-bottom: 0px;
        font-size: 25px
    }

    .banner__overview {
        padding-top: 10px;
        font-size: 15px;
        font-weight: normal;
    }
}

@media screen and (max-width: 1050px) {
    .banner__boxShadow {
        box-shadow: inset 50px 20px 80px rgba(0, 0, 0, 1), inset 50px -20px 80px rgba(0, 0, 0, 1);
    }
}

@media screen and (max-width: 660px) {
    .banner__overview {
        display: none;
    }
}